<%- include("header") -%>

<div class="box" id="heading">
  
  <h1><%= list %></h1>
</div>

<div class="box">
  <form action ="/delete" method ="post">
  <% for( let val of newListItem){ %>
    
  <div class="item">
    <input type="checkbox" name="checkbox"   value = <%= val._id %> onChange="this.form.submit()" />
    <p><%= val.name %></p>
   
  </div>
  <% } %>
  <input type="hidden"  name="listName" value= <%= list %> >
 </form>

  <form action="/" method="post" class ="newItem" >
    <input
      type="text"
      name="addItem"
      placeholder="additem"
      autocomplete="off"
    />
    <button type="submit" name="title" value = <%= list %> >+</button>
      
  </form>
</div>

<%- include("footer") -%>
